@import url('__title/lead__title.css');
@import url('__subtitle/lead__subtitle.css');
@import url('__image/lead__image.css');
@import url('__caption/lead__caption.css');
@import url('lead_margin.css');



.lead{
      width: 985px;
      display:flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Inter', Arial, sans-serif;
}