@import url('__autor/comment__author.css');
@import url('__image/comment__image.css');
@import url('__quote/comment__quote.css');
.comment{
    display: flex;
    flex-direction: column;
    width:382px;
    font-family: 'Inter', Arial, sans-serif;
}