.lead__subtitle{
    margin: 0;
    width: 583px;
    margin-top: 48px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
}